<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ng-app="mindMapApp">
    

    <div ng-controller="MainCtrl" class="minMapWrap">
      <div class="menu">
        <div class="btn btn-default" ng-click="new()">新畫布</div>
        <div class="btn btn-default loadFile">
          <span>讀檔</span>
          <input id="uploadFile" name="uploadFile" type="file" change-file="load">
        </div>

        <div class="downloadWrap">
          <input class="fileName" type="text" ng-model="fileName">
          <div class="btn btn-default" ng-click="save()">存檔</div>
          <div id="downloadLinkWrap"></div>
        </div>
        
      </div>
      <div class="mindMap" mind-map="root"></div>      
    </div>

    

  <!-- build:js scripts/modules.js -->  
  <script src="bower_components/angular/angular.js"></script>
  <script src="scripts/d3.v3.min.js"></script>
  <script src="scripts/d3.layout.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>  
  <!-- endbuild -->

</body>
</html>
